<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Portfolio</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav') %>
    
    <div class="container layout-sidebar">
        <main class="main-content">
            <%- body %>
        </main>
        
        <aside class="sidebar">
            <%- include('../partials/other-projects-list', { otherProjects }) %>
        </aside>
    </div>
    
    <%- include('../partials/footer') %>
</body>
</html>